.parent{
    background-color: tomato;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-evenly;
    align-items: center;
}

.child
{
    background-color: black;
    height: 400px;
    width: 35%;
    display: inline-block;
    /*margin-left: 5%;*/
}
/* parents height depends upon the height of the child*/
